.container.contact_container{
    width: 50%;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 12%;
}

.contact_options{
    display: contents;
    flex-direction: column;
    gap: 1.4rem;
}

.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

h5{
    font-size: 75%;
}

.contact_option:hover{
    background: transparent;
    border-color: var(--color-primary);
}


.contact_options a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ==================== form ================= */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 120%;
}

input,
textarea{
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.7rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: white;
}

/* ================== MEDIA QUERIS (MEDIUM DEVICES) ===============*/

@media screen and (max-width: 1024px){
  .container.contact_container{
    grid-template-columns: 1fr;
    gap: 2rem;

  }
}

/* ================== MEDIA QUERIS (small DEVICES) ===============*/

@media screen and (max-width: 600px){
    .container.contact_container{
        width: var(--container-width-sm);
    }
}

